:root {
    --bg: #0b1220;

    --panel: #182233;
    --panel-light: #223047;

    --gold: #d7b36a;
    --gold-dark: #8d6a2f;

    --text: #f5f7fa;
    --text-muted: #b9c3d0;

    --border: #31445f;

    --green: #44c767;
    --red: #d9534f;
    --blue: #4aa3ff;
    --orange: #f0ad4e;

    --shadow: 0 8px 20px rgba(0, 0, 0, .35);

    --radius: 14px;

    --sidebar-width: 250px;
}